body {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 55px;
  display: grid;
    grid-template-rows: auto 1fr auto;

}

.description {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 30px;
  line-height: 45px;
}

@media screen and (min-width:1020px) {.description {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 65px;
  line-height: 65px;
}
}


div {
  margin-bottom: 40px;
  line-height: 85px;

}
h1 {
  color: #369F64;
  font-size: 100px;
  margin-bottom: 25px;
  margin-top: 55px;
  text-align: center;

}
 @media screen and (min-width:1020px) {h1 {
  color: #369F64;
  font-size: 125px;
  margin-bottom: 45px;
  margin-top: 55px;
  text-align: center;
}
}
h2 {
  color: #369F64;
  margin-top: 37px;
  font-size:80px;
  margin-bottom: 37px;

}
 @media screen and (min-width:1020px) { h2 {
  color: #369F64;
  margin-top: 72px;
  font-size:100px;
  margin-bottom: 72px;
}
}

h3 {
  margin-top: 44px;
  color: #369F64;
  font-size: 50px; 
  margin-top: 40px;
  line-height: 50px;
  margin-bottom: 22px;

}
@media screen and (min-width:1020px) { 
  h3 { margin-top: 24px;
  color: #369F64;
  font-size: 72px; 
  margin-top: 35px;
  line-height: 80px;
  margin-bottom: 18px;
}}
.ratings{
  font-size: 27px; 
  margin-bottom: -20px;
  line-height: 41px;
  margin-bottom: 41px;
}

@media screen and (min-width:1020px) { 
  .ratings{
  font-size: 65px; 
  margin-bottom: -20px;
  line-height: 38px;
  margin-bottom: 38px;
}
}



nav{
  margin-bottom: 30px;
}

img {
  width:  auto;
  height: auto;
}

li {
  width: 200px;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 2px;
  border-radius: 10px;
}



/*skip to content*/

.skip-main {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }

    a.skip-main:focus {
      left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible; 
        z-index: 1;
        color: #FFFFFF;
        background-color: #F60909;
        font-size: 18px;
    }

 /*footer*/

footer nav div{
  font-weight: bold;

}
@media screen and (min-width:1020px) { 
  footer nav div{
  font-weight: bold;
}
}

footer a .fa-spotify {
  font-size:105px;
  color: #1DB954;

}
@media screen and (min-width:1020px) { 
  footer a .fa-spotify {
    font-size: 135px;
  color: #1DB954;
}
}

.ratings .fa-pizza-slice {
  font-size: 65px;
  color:#E31824;

}
@media screen and (min-width:1020px) { 
  .ratings .fa-pizza-slice  {
    font-size: 65px;
    color: #E31824;
}
}

footer a .fa-instagram  {
  font-size: 105px;
  color: #E4405F;

}
 @media screen and (min-width:1020px) { 
  footer a .fa-instagram   {
    font-size: 135px;
  color: #E4405F;
}
}


footer a .fa-twitter-square  {
  font-size: 105px;
  color: #55ACEE;

}
  @media screen and (min-width:1020px) { footer a .fa-twitter-square  {
  font-size: 135px;
  color: #55ACEE;
 }
}

 /*background image main page*/
.my-background {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
    background-image: url("images/trying.jpg")
}
.my-background h1 {
    padding: 200px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #FFFAFA;
    line-height: 105px;
} 
@media screen and (min-width:1020px) { .my-background img {
    position: absolute;
    left: 0;
    top: 0;
    width: 110%;
    height: 200%;
    opacity: 0.6;
}
}
.my-background img {
    position: absolute;
    left: 0;
    top: 0;
    width: 110%;
    height: 200%;
    opacity: 0.6;
}

.homepage-p{
  line-height: 70px;
  margin-top:   40px;
  margin-bottom:   70px;
  font-size:  35px;
  margin-left: 30px;
   margin-right: 30px;

}
@media screen and (min-width:1020px){.homepage-p {
  line-height: 95px;
  margin-top:   40px;
  margin-bottom:   70px;
  font-size:  85px;
  margin-left: 450px;
   margin-right: 450px;
}
}
.homepage-h2{

  margin-top:   40px;
  margin-bottom:   40px;
  font-size:  125px;
  color: #369F64;
}

 /*header*/

header nav li {
  width: 550px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #910C0C;
  border-radius: 50px;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
header nav li a{
  width: 550px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #910C0C;
  border-radius: 500px;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

header nav a.current {
  width: 550px;
  text-align: center;
  border-radius: 500px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #D81C99;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;

}
 /*flex layout east coast*/

  .columns {
    flex-direction: column;
    flex: 1;
    justify-content: center;
     margin-bottom: 50px;

  }
@media screen and (min-width:1020px) {
  .columns{
    display: flex;
    flex-flow: row wrap;
    margin: 1px 0;
    justify-content: center;
  }
}
.column-al {
  flex: 0.33;
   flex-flow: row wrap;

}
@media screen and (min-width:1020px) {
  .column-al {
  flex: 0.33;
   flex-flow: row wrap;
   border: 0.1px solid gray;
 }
}

.column-al p{
   margin-left: 55px;
  margin-right: 55px;
  font-size: 25px;
  line-height: 35px;
}

@media screen and (min-width:1020px) {
  .column-al p{
    margin-left: 75px;
    margin-right: 75px;
    font-size: 65px;
    line-height: 75px;
  }
}

.column-al img{
 width: 750px;
 height: 750px;
 margin-top: 45px;
}
.column-h {
  flex: 0.5;
   flex-flow: row wrap;

}
@media screen and (min-width:1020px) {
  .column-h {
  flex: 0.5;
   flex-flow: row wrap;
   border: 0.1px solid gray;
 }
}

.column-h p{
  margin-left: 55px;
  margin-right: 55px;
  font-size: 25px;
  line-height: 35px;
}
@media screen and (min-width:1020px) {
  .column-h p{
    margin-left: 85px;
    margin-right: 85px;
    font-size: 65px;
    line-height: 75px;
  }
}

.column-h img{
 width: 750px;
 height: 750px;
  margin-top: 45px;
}






 /*flex layout contributors*/
 /* Horizontal flex: rows
   =====================
*/

.row-c {
  display: flex;
}

.item-c {
  flex: 1 1 1%;
}
.item-c p{
  margin-right: 15px;
  margin-left: 15px;
  font-size: 25px;
  line-height: 35px;
  text-align: left;
}


.item-c img{
  width: 280px;
  height:380px;
}


/* Vertical flex: items
   ===================
*/

.item-c {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}
